@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;
.support {
  padding: 60px 0 70px 0;
  background: #f9f8fe;
  .support__container {
    display: flex;
    gap: 27px;
    justify-content: space-between;
    @include responsive(tablet) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  .support__main {
    max-width: 644px;
  }
  .support__title {
    font-size: 50px;
    font-weight: 600;
    color: $secondary-text-color;
    margin-bottom: 30px;
  }
  .support__desc {
    font-size: 1rem;
    color: $text-gray-color;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 73px;
  }
  .support__ratings {
    display: flex;
    gap: 80px;
  }
  .support__rating {
    background: transparent;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    .support__stars {
      color: #ffd600;
      font-size: 26px;
      font-weight: 700;
    }
    .support__score {
      font-size: 18px;
      font-weight: 700;
      color: $secondary-text-color;
      padding: 18px 0px;
    }
    .support__brand {
      font-size: 18px;
      color: $text-gray-color;
      font-weight: 700;
    }
  }
  .support__features {
    display: flex;
    flex-direction: column;
    gap: 21px;
    min-width: 320px;
    .support__feature {
      display: flex;
      gap: 1.2rem;
      align-items: flex-start;
      margin-bottom: 30px;
      h3 {
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 10px;
        color: $secondary-text-color;
      }
      p {
        font-size: 18px;
        color: $text-gray-color;
        line-height: 30px;
      }
      .support__icon {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: $secondary-color;
        margin-top: 0.2rem;
        &--publishing {
          background: url("../assets/publishing.svg") no-repeat center/24px,
            $secondary-color;
        }
        &--analytics {
          background: url("../assets/analytics.svg") no-repeat center/24px,
            $secondary-color;
        }
        &--engagement {
          background: url("../assets/engagement.svg") no-repeat center/24px,
            $secondary-color;
        }
      }
    }
  }
}
