/* Main SCSS entry point */
@use "sass:color";
@use "reset";
@use "variables" as *;
@use "mixins" as *;
@use "layout";
@use "components";
@use "utilities";
@use "sections/header";
@use "sections/hero";
@use "sections/stats";
@use "sections/support";
@use "sections/features";
@use "sections/benefits";
@use "sections/pricing";
@use "sections/testimonials";
@use "sections/footer";

body {
  font-family: "Inter", Arial, sans-serif;
  background: #fff;
  color: #222;
  margin: 0;
  padding: 0;
}

.main-sections {
  background: linear-gradient(
    110deg,
    rgba(255, 249, 249, 1) 53%,
    rgba(215, 240, 231, 1) 99%
  );
}
