/* SCSS Variables */
$primary-color: #54bd95;
$secondary-color: #f5f6fa;
$text-color: #000000;
$secondary-text-color: #191a15;
$font-family: "Inter", Arial, sans-serif;
$border-radius: 10px;
$large-border-radius: 40px;
